.description-container {
    height:500px;
    width:40vh;
    padding: 10px;
    background-color: #f0f0f0; /* Optional: Background color for the description */
    border: 3px solid #1e1e1e;
    text-align: left;
    box-sizing: border-box;
    overflow-y: auto; /* Add scroll for overflowing content */
    font-family: Inter, sans-serif;
    border-radius: 5px;
}

.header {
        font-size: 2em;
        margin-bottom: 20px;
        margin-top: 5%;
        font-family: Inter, sans-serif;
        text-align: center;
        margin-right:45px;
        }
