.canvas-container {
    position: absolute; /* Allows positioning of canvas */
    height: 500px;
    aspect-ratio: 1 / 1;
    top:18%;
    border-top: 3px solid #1e1e1e;
    border-bottom: 3px solid #1e1e1e;
    border-right: 3px solid #1e1e1e;
    border-left: 3px solid #1e1e1e;
    background-color: white; /* Optional: Background color for the container */
}

canvas {
    display: block; /* Remove inline space under canvas */
    background-color: white; /* Optional: Background color for the canvas */
    width: 500px;
    height:500px;

}