#canvas-parent {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%; /* Full viewport height */
    width: 100%;
}

.canvas_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.canvas_right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;

}
.canvas-container {
    position: relative; /* Allows positioning of the canvas */
    width: 100%; /* Width of canvas container */
    aspect-ratio: 1 / 1; /* Maintains a square aspect ratio */
    border: 3px solid #1e1e1e; /* Uniform border on all sides */
    background-color: white; /* Optional: Background color for the container */
    overflow: hidden; /* Prevents overflow from the canvas */
}

canvas {
    display: block; /* Remove inline space under canvas */
    background-color: white; /* Optional: Background color for the canvas */
    width: 100%; /* Fill the container width */
    height: 100%; /* Fill the container height */
    image-rendering: optimizeQuality; /* Higher quality rendering */
    aspect-ratio: 1 / 1; /* Maintain aspect ratio */
}
/* Existing CSS rules for #canvas-parent, .canvas-container, etc. */
.complex-number-display {
    margin-top: 50%;
    font-size: 16px;
    text-align: center;
}

