* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85929e; /* Optional: Light background color */
}



.controls {
    display: flex;
    flex-direction: row;
    position: relative; /* Position the controls absolutely within the canvas container */
    top: -34%; /* Position the controls near the top of the canvas */
    z-index: 1; /* Bring controls on top of the canvas */
    border-radius: 5px; /* Optional: Rounded corners */
    background-color: rgba(255, 255, 255, 0); /* Optional: Semi-transparent background for visibility */

}

.controls label {
    margin-right: 5px;
}

.controls input[type=range] {
    margin: 0 5px;
}

#drawMandelbrot, #drawJulia {
    margin-top: 0%;
}
