.main-container {
    padding-top: 4%; /* Shifts entire layout down by 15px */
    height: 100vh; /* Ensures the main container takes the full viewport height */
    box-sizing: border-box;
}



.description-container {
    height:550px;
    width: 25vw;

    text-align: left;

    padding: 8px;
    margin-top:5%;
    overflow-y: auto;

    background-color: #f0f0f0;
    border: 3px solid #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    transform: translateY(6%); /* Moves the description down */
}
.description-container-simple {
    height:600px;
    width: 25vw;

    text-align: left;

    padding: 8px;
    margin-top:5%;
    overflow-y: auto;

    background-color: #f0f0f0;
    border: 3px solid #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    transform: translateY(6%); /* Moves the description down */
}



.header {
    text-align:center;
}

