.main-container {
    height: 85%; /* Ensures the main container takes the full viewport height */
    box-sizing: border-box;
}



.description-container {
    width: 100%; /* Width of canvas container */
    height:100%;
    font-family: Inter, sans-serif;

    text-align: left;

    padding: 8px;
    overflow-y: auto;

    background-color: #f0f0f0;
    border: 3px solid #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

}
.description-container-simple {
    height:600px;
    width: 25vw;

    text-align: left;

    padding: 8px;
    margin-top:5%;
    overflow-y: auto;

    background-color: #f0f0f0;
    border: 3px solid #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    transform: translateY(6%); /* Moves the description down */
}



.header {
    text-align:left;
    margin-top: 2%;
    margin-right:55%;
    font-size: 30px;
    font-family: Inter, sans-serif;
}
.link {
    text-align:left;
    margin-top: 2%;
    font-size: 25px;
    font-family: Inter, sans-serif;
}

